body {
    color: black;
    font-size: 1.2em;
    font-family: 'Helvetica', 'Arial', sans-serif;
    margin: 0px auto 0px auto;
    line-height: 1.5;
    max-width: 900px;
    padding: 0 20px;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.4em;
}

h3 {
    font-size: 1.3em;
}

h4 {
    font-size: 1.2em;
}

a, a:visited {
    color: #3663AA;
    text-decoration: none;
}

a:hover {
    opacity: 0.7;
}

div#header {
    border-bottom: 2px solid black;
    margin-bottom: 30px;
    padding: 12px 0px 12px 0px;
}

#content {
    text-align: justify;
}

#content h1,
#content h2,
#content h3,
#content h4,
#content h5,
#content h6 {
    text-align: left;
}

div#logo a {
    color: black;
    float: left;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

div#header #navigation {
    text-align: right;
}

div#header #navigation a {
    color: black;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    margin-left: 12px;
    text-decoration: none;
    text-transform: lowercase;
}

div#header #navigation a:hover {
    text-decoration: underline;
}

div#footer {
    border-top: solid 2px black;
    color: #555;
    font-size: 12px;
    margin-top: 30px;
    padding: 12px 0px 12px 0px;
    text-align: right;
}

div.info {
    text-align: right;
    color: #555;
    font-size: 0.8em;
    font-style: italic;
}

blockquote {
    border-left: 8px solid grey;
    padding-left: 32px;
}

/* Syntax highlighting */
pre.sourceCode {
    background-color: #FFFCF6;
    padding: 16px;
    border: 1px solid grey;
    overflow-x: auto;
}

p > code, li > code {
    display: inline-block;
    word-wrap: break-word;
    max-width: 100%;
    background-color: #FFFCF6;
    padding: 2px;
    border: 1px solid grey;
}

/* Generated by pandoc. */
table.sourceCode, tr.sourceCode, td.lineNumbers, td.sourceCode, table.sourceCode pre
   { margin: 0; padding: 0; border: 0; vertical-align: baseline; border: none; }
td.lineNumbers { border-right: 1px solid #AAAAAA; text-align: right; color: #AAAAAA; padding-right: 5px; padding-left: 5px; }
td.sourceCode { padding-left: 5px; }
.sourceCode span.kw { color: #007020; font-weight: bold; }
.sourceCode span.dt { color: #902000; }
.sourceCode span.dv { color: #40a070; }
.sourceCode span.bn { color: #40a070; }
.sourceCode span.fl { color: #40a070; }
.sourceCode span.ch { color: #4070a0; }
.sourceCode span.st { color: #4070a0; }
.sourceCode span.co { color: #60a0b0; font-style: italic; }
.sourceCode span.ot { color: #007020; }
.sourceCode span.al { color: red; font-weight: bold; }
.sourceCode span.fu { color: #06287e; }
.sourceCode span.re { }
.sourceCode span.er { color: red; font-weight: bold; }
